section{
  display:flex;
  width:400px;
  height:430px;  
}
section img {
  width: 0px;
  flex-grow: 1;
  object-fit: cover;
  opacity: 8;
  transition: 3s ease;
}
section img:hover {
  cursor :crosshair;
  width:300px;
  opacity:1;
  filter: contrast(120%);
}
body {
  margin:auto;
  padding: 5% 10%;
  background: linear-gradient(150deg, #FFC300,#C0392B, #900C3F);
  height: 240vh;
}
h1{
    color:black;
  text-align: center;
  background: white ;
  border-radius:10px;
  border-bottom: 10px solid silver; 
}
.decoracion{
  font-weight: bold;
  margin:0 auto;
  text-align:center;
  color:gold;
  padding: 1px;  
  text-decoration:none;
  transform: translate(-50%,-50%);
  background: white;
  border-radius:10px;
 }
p{
  color:black ;
  text-align: center;
}

.logosrd{
  position:relative;
  width:50px;
  height: 50px;
}
.Inicio{
  position:relative;
  top:20%;
  left: 50%;
  transform: translate(-50%,-50%);
  width:250px;
  height:120px;
  background: white ;
  border-radius:10px;
}
.acercademi{
  position:relative;
  top: 44%;
  left: 50%;
  transform: translate(-50%,-50%);
  width:325px;
  height:325px;
  background: white ;
  border-radius:10px;
}
.Estudios{
  position:relative;
  top: 8%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.relacionados{
    position:relative;
  top: 9%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.primaria{
  position:absolute;
  top: 200px;
  left: 50%;
  transform: translate(-50%,-50%);
  width:300px;
  height: 250px;
  background: white ;
  border-radius:10px;
}
.secundaria{
  position:absolute;
  top: 500px;
  left: 50%;
  transform: translate(-50%,-50%);
  width:300px;
  height: 250px;
  background: white ;
  border-radius:10px;
}
.educacionsuperior{
  position:absolute;
  top: 800px;
  left: 50%;
  transform: translate(-50%,-50%);
  width:300px;
  height: 250px;
  background: white ;
  border-radius:10px;
}
.otros{
  position:absolute;
  top: 1100px;
  left: 50%;
  transform: translate(-50%,-50%);
  width:300px;
  height: 250px;
  background: white ;
  border-radius:10px;
}
h2{
  color:#C70039 ;
  text-align: center;
  background: white ;
  border-radius:10px;
  border-bottom: 5px solid silver;  

}
.circular--square {
  position: absolute;
top: 5%; left: 60%;
  border-radius: 50%;
  width:125px;
  height: 125px;
}
.correo{
  position:absolute;
  border-radius: 50%;
  width:150px;
  height: 150px;
  top: 85%; left: 10%;
}
.correolink{
  font-weight: bold;
  position:absolute;
  top: 130%; left: 35%;
  margin:0 auto;
  text-align:center;
  color:#C70039;
  padding: 8px;  
  text-decoration:none;
  transform: translate(-50%,-50%);
  background: white;
  border-radius:10px;
}
.estudiosimg{
  background:white;
  position:absolute;
  border-radius: 50%;
  width:120px;
  height: 120px;
  top: 65%; left: 10%;
}
.profesores{
  position:absolute;
  top: 250px;
  left: 50%;
  transform: translate(-50%,-50%);
  width:250px;
  height: 250px;
  background: white ;
  border-radius:10px;
}
header {
  background: rgba(0,0,0,0.7);
  width: 100%;
  position: fixed;
  z-index: 100;
  border-radius:10px;
}

nav {
  float: left;
}

nav ul {
  list-style: none;
  overflow: hidden; 
}

nav ul li {
  float: left;
  font-family: Arial, sans-serif;
  font-size: 20px;
}
nav ul li a {
  display: block;
  padding: 10px;
  color: white;
  text-decoration: none;
}
nav ul li:hover {
  background:#C70039;
  border-radius:10px;
}
.rd{
  position:relative;
  top: 30%;
  left: 25%;
}