
body {
  margin:auto;
  padding: 5% 10%;
  background: linear-gradient(150deg, #6c3483, #58d68d);
  height: 2000vh;
}
a{
  color:white;
  padding: 0 0 20px 0;  
  border-bottom: 1px solid silver;  
  text-decoration: none;
}
p{
  color:white;
}
h1{
  color:white;
  position: center; 
}
.formulario{
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width:400px;
  background:white;
  border-radius:10px;
