
body {
  margin:auto;
  padding: 5% 10%;
  background: linear-gradient(150deg, #FFC300,#C0392B, #900C3F);
  height: 100vh;
}
a{
  position:center;
  text-align:center;
  color:gold;
  padding: 2px;  
  text-decoration:none;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: white;
  border-radius:10px;
  justify-content: center;
  min-height: 20px;
  min-width: 20px;
  align-items: center;
 }
p{
  color:black ;
  text-align: center;
}
h1{
  color:black;
  text-align: center;
}
.contenido{
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width:300px;
  height: 350px;
  background: white ;
  border-radius:10px;
}
.inicio{
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width:360px;
  height: 250px;
  background:white;
  border-radius:10px;}
.ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
nav {
  width: 60px;
}

nav ul {
  background-color:white ;
  border-radius: 5px;
  display: inline-table;
  position: relative;
}
nav li {
  float: left;
}

nav a {
  color: #6daeb0;
  display: block;
  height: 45px;
  line-height: 45px;
  text-align: center;
  width: 60px;
}
nav ul li ul li a {
  color:#C70039;
}
nav a:hover{
  color:#C70039 ;
}

nav ul li ul {
  background: #C70039;
  margin-top: 20px;
  padding: 5px 0;
  position: absolute;
}

nav ul li ul:before {
  background: #C70039;
  content: "";
  height: 8px;
  left: 50%;
  margin: -4px 0 0 -4px;
  position: absolute;
  top: 0;
  transform: rotate(45deg);
  width: 8px;
}

nav ul li ul li {
  float: none;
}
nav ul li ul li a:hover {
  background-color: #C70039;
}
.logosrd{
  margin:-10px -10px -10px -10px;
  width:-40px;
  height:40px;
  position:center;
}
.usuario{
 margin:-10px -10px -10px -10px;
  width:-40px;
  height:40px;
position:center;}
